.form {
  display: flex;
  flex-direction: column;

  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    opacity: 0.8;
    font-family: monospace;
    margin-bottom: 0.25rem;
  }

  &__input {
    padding: 0.5rem;
    border-radius: 0.1rem;
    border: 0;
    transition: box-shadow 0.3s ease;

    &:focus {
      box-shadow: 0 0 1.5rem $brand_color;
      outline: 0;
    }
  }
}
