.help{
    padding: 20px;
    text-align: center;

    &__head{
        margin-top: 60px;
    }
}

.faq{
    padding: 20px;

    &__question{
        color: $brand_color;
    }

    &__answer{
        color: white;
    }
}