.login {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;

  &__brand {
    flex: 0 0 50%;
    color: $brand_color;
    font-size: 4rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-around;
  }

  &__format {
    color: gray;
    font-size: small;
  }
}
