.rec{

    &__sidenav{
        margin-left: 0;
        width: 200px;
        height: 100%;
        position: fixed;
        background-color: rgb(50,50,50);
    }

    &__body{
        margin-top: 60px;
        margin-left: 200px;
        padding: 20px;
    }

    &__title{
        color: $brand_color;
    }

    &__desc{
        padding-left: 20px;
    }
}