$text_color: #eee;
$background_color: #111;
$emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, $emoji;
$brand_color: rgb(255, 153, 0);
